<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>私たちの結婚式</title>
<meta name="description" content="私たちの結婚式 - 結婚式の思い出をウェブ上で管理・振り返るサービスです。">
<meta property="og:title" content="私たちの結婚式 - 結婚式の思い出をウェブ上で管理・振り返るサービス-">
<meta property="og:type" content="website">
<meta property="og:url" content="#">
<meta property="og:image" content="images/common/ogimage.png">
<meta property="og:site_name" content="私たちの結婚式 - 結婚式の思い出をウェブ上で管理・振り返るサービス-">
<meta property="og:description" content="私たちの結婚式 - 結婚式の思い出をウェブ上で管理・振り返るサービスです。">
<meta name="format-detection" content="telephone=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="pc-inner">
	
	<header class="header">
		<a href="../index.html">
			<img class="margin5" src="../images/_i_icon_11922_icon_119220_32.png" alt="">
		</a>
		
<!--ハンバーガー-->
		
	<img class="absolute06" src="../images/share.png" alt="">
	
	<div class="hamburger">
	 <img class="absolute08" src="../images/people.png" alt="">
	<img class="absolute06" src="../images/_i_icon_11922_icon_119220_32.png" alt="">
	</div>

	<nav class="globalMenuSp">
	
	<form class="search display_flex" id="form02" action="#">
    <input id="input02" type="text" placeholder="IDで検索"><!--
    /input間で改行したい場合はコメントアウト必須/
    --><input id="submit02" class="click" type="submit" value="">
		
	</form>
	
	</nav>
		
	
<!--ハンバーガー-->	
	
		
	</header>
	
	<div class="box"></div>
	
	<img class="absolute04" src="../images/_i_icon_00105_icon_001050_32.png" alt="">
	
	
	
	
	
<main>
	<h1 class="menu__title">テキスト</h1>
	
	<div>
		<div class="delete parent2">
			<div class="child">
				<div class="display_flex">
					<div class="year">テキスト</div>
					<div class="content">
						<div class="box2 relative"><img class="absolute05" src="../images/_i_icon_00105_icon_001050_32.png" alt=""></div>
						<div class="content_text text_center margin"><div class="box3 relative"><div class="absolute07">テキスト</div></div></div>	
					</div>
				</div>
			</div>

			<div class="child">
				<div class="display_flex">
					<div class="year">テキスト</div>
					<div class="content">
						<div class="box2 relative"><img class="absolute05" src="../images/_i_icon_00105_icon_001050_32.png" alt=""></div>
						<div class="content_text text_center margin"><div class="box3 relative"><div class="absolute07">テキスト</div></div></div>		
					</div>
				</div>
			</div>


			<div class="child">
				<div class="display_flex">
					<div class="year">テキスト</div>
					<div class="content">
						<div class="box2 relative"><img class="absolute05" src="../images/_i_icon_00105_icon_001050_32.png" alt=""></div>
						<div class="content_text text_center margin"><div class="box3 relative"><div class="absolute07">テキスト</div></div></div>
					</div>
				</div>
			</div>

			<div class="child">
				<div class="display_flex">
					<div class="year">テキスト</div>
					<div class="content">
						<div class="box2 relative"><img class="absolute05" src="../images/_i_icon_00105_icon_001050_32.png" alt=""></div>
						<div class="content_text text_center margin"><div class="box3 relative"><div class="absolute07">テキスト</div></div></div>
					</div>
				</div>
			</div>

			<div class="child">
				<div class="display_flex">
					<div class="year">テキスト</div>
					<div div class="content">
						<div class="box2 relative"><img class="absolute05" src="../images/_i_icon_00105_icon_001050_32.png" alt=""></div>
						<div class="content_text text_center margin"><div class="box3 relative"><div class="absolute07">テキスト</div></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
</main>	
	
<!--share-ハンバーガー-->
	<script>
	$(function() {
    $('.hamburger').click(function() {
        $(this).toggleClass('active');
 
        if ($(this).hasClass('active')) {
            $('.globalMenuSp').addClass('active');
        } else {
            $('.globalMenuSp').removeClass('active');
        }
    });
});
	</script>
<!--share-ハンバーガー-->
	
</body>
</html>
